@media (min-width:1200px) {
body {
    font-family:'poppinsthin';
    }

/*Header*/
.header {
    margin-bottom: 2rem;
    background-image: url('./images/banner/banner.png');
  }

.download__button {
padding-right: 30px;
padding-top: 15px;
  }

.intro__button {
    background-color: #42B3FA;
    border-radius: 4px;
    border: #42B3FA;
    color: white;
    font-size: 20px;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    display: block;
  }
  
  .header__nav {
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

  }
  .header__logo {
    width: 15rem;
    margin-top: 18px;
    font-size: 35px;
    letter-spacing: 3px;
  }
  
  /*Navigation*/ 
  
  .header__nav label,
  .header__nav input {
      display: none;
  }
 

  .nav__list {
    display: inline-flex;
    justify-content: space-between;
    font-weight: normal;
    min-width: 50px;
    height: 25px;
    font-size: 25px;
    padding: 10px;
    padding-bottom: 60px;
    text-align: center;
    list-style-type: none;
}
.nav__item {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(241, 233, 233);
    padding: 1rem;
    display: block;
}
  
/*applab container*/
  

.applab__container{
    background-image: url('./../images/banner/banner.png');
    height: 915px;
    background-color: white;
    position: relative;
    background-repeat: no-repeat;

}

.applab__container--left {
    color: white;
    padding-top: 250px;
    padding-left: 30px;
}

.button {
    background-color: #37EBED;
    border-radius: 4px;
    border: #37EBED;
    color: white;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.applab__title {
    padding-top: 20px;
    font-size: 55px;
}

.applab__desc {
    padding-top: 15px;
    padding-bottom: 35px;
    font-size: 30px;
}

.applab__container--right img{
    height: 700px;
    width: 550px;
    right: 0;
    bottom: -20px;
}

.button {
    font-size: 20px;
}

.transition-bar {
    display: none;
}

/*features container--box*/

.features container--box {
height: 700px;
padding-bottom: 50px;
}
.box-image img {
    width: 100%;
    position: relative;
    right: 40px;
    top: 50px;
}

.box-image {
    position: absolute;
    right: 0px;
}
.box, .box-image {
    display: inline-block;
    padding-bottom: 100px;
    padding-top: 100px;
}

.box {
    width: 40%;
padding-left: 70px;
}


/*review*/
.review {
    height: 500px;
    margin-top: 50px;
    overflow: hidden;
}

.review img {
    opacity: 0.2;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;

}
.features__title {
    font-size: 40px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.features-text {
    font-size: 30px;
    padding-bottom: 30px;
    line-height: 30px;
}

.button-button {
    font-size: 30px;
}

/*options__content*/

.options-content {
    height: 800px;
}
.basic, .team, .business {
    width: 50%;
    height: 550px;
}

/*content*/

.content{
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 50px;
    padding-right: 30px;
}
.content__title  {
    font-size: 50px;
    line-height: 40px;
    padding-top: 30px;
}
.content__pictures {
    padding-top: 30px;
    padding-right: 30px;
}
.content__features {
    height: 600px;
    padding-top: 70px;
}


.team {
    position: relative;
    top:-20px;
}

/*footer*/

.footer__content {
    height: 400px;
    display: flex;
    padding-top: 100px;
    padding-left: 80px;
}
.flexbox-content {
    width: 35%;
    position: relative;
    top: -30px;
}

.footer__title {
    font-size: 30px;
}

.footer__text {
    font-size: 20px;
}
.title {
    font-size: 25px;
}

.footer__content--box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    padding-bottom: 100px;
    padding-left: 50px;
}


.footer__container {
    font-size: 20px;
    height: 80px;
}

.footer__copyrights--cell {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.color {
    padding-left: 5px;
}

}